;; shadow-cljs configuration
{:source-paths ["src/dev"
                "src/main"
                "src/test"]

  ;; See: https://shadow-cljs.github.io/docs/UsersGuide.html#Leiningen
  :lein true
 
  :dependencies []

  :builds {:datatools 
            {:target :node-library
             :output-to "dist/bundle.js"
             :exports {:init datatools.core/init}}
            
            :test 
              {:target :node-test
               :autorun true
               :output-to "out/node-tests.js"}}}
